html,
body {
	max-width: 100%;
	font-family: cursive;
}

.container {
	margin: 0px;
	border: 8px double black;
	background: linear-gradient(180deg, rgba(170, 4, 44, 0.6), rgba(200, 170, 170,1), rgba(170, 250, 255,0.8));
}

#header {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.img-container {
	align-self: center;
}

#header-img {
	max-height: 50px;
	max-width: 100px;
	margin-top: 2px;
}

#nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	min-height: 40px;
	background-color: rgba(19, 77, 117, 0.2);
}

.nav-link {
	border-radius: 5px;
	font-size: 1.1em;
	text-decoration: none;
	color: black;
}

.nav-link:hover {
	border: 1px groove black;
	background-color: rgba(171,217,8,0.9);
	padding: 4px;
	font-weight: bold;
	font-style: italic;
}

/* --------------------------------------------------------- */
#description {
	text-align: center;
	padding: 0 5px;
	margin: 0 2px;
	border: 1px inset rgba(19, 77, 117, 0.2);
	border-radius: 12px;
}


/* --------------------------------------------------------- */
@media (min-width: 600px) {
	#header {
		flex-direction: row;
		justify-content: space-around;
		background-color: rgba(19, 77, 117, 0.3);
	}
	
	.img-container {
		width: 20%;
		text-align: center;
	}

	#header-img {
		max-height: 60px;
	}

	#nav-bar {
		width: 80%;
		min-height: 50px;
	}

	.nav-link {
		font-size: 1.3em;
	}

	.nav-link:hover {
		padding: 10px;
		font-weight: bold;
		font-style: italic;
	}
}